<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>{% block 'title' %}{% endblock 'title' %}</title>
	<link rel="icon" type="image/x-icon" href="/static/images/ask.png">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/jquery.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">  
</head>

<body>
	<header class="py-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <a href="/" class="logo"><img src="/static/images/ask.png" alt=""></a>
                </div>
            </div>
        </div>
    </header>

    <main class="site">
        <div class="page-content">            
            {% block 'content' %}{% endblock 'content' %}
        </div>
    </main>

   <footer>
    
   </footer>

    

	<script src="/static/js/bootstrap.bundle.js"></script>
	<script src="/static/js/script.js"></script>
    <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    <script>
        window.onload = function() {
            CKEDITOR.replace('note_content', {
                toolbar: [
                    ['Format', 'Bold', 'Italic', 'Underline'],
                    ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
                    ['Link', 'Unlink'],
                    ['RemoveFormat', 'Source'],
                    ['TextColor', 'BGColor'],
                    ['-', 'Save', 'Print']
                ],
            });
        };
    </script>
</body>

</html>