{% extends 'base.html' %}
{% block 'title' %}{{ note.title }} | My Notes{% endblock 'title' %}
{% block 'content' %}
    <section>
        <div class="container">
            <div class="note-content">
                <h1>{{ note.title }}</h1>
                <div class="note-info mb-4">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <i class="fa-sharp fa-solid fa-tag text-warning"></i> 
                            <span><a href="{% url 'notebook' slug=note.notebook.slug %}">{{ note.notebook }}</a></span> |
                            <span>
                                {% if note.category == 'P' %}Prelims {% else %}Mains{% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                {{ note.content|safe }}
            </div>
        </div>
    </section>
{% endblock 'content' %}

